# Ignore node_modules in both frontend and backend
/front-end/node_modules
/back-end/node_modules

# You can also include other common ignores
/coverage
/build

# Ignore environment variable files
# /front-end/.env
# /back-end/.env
/back-end/build

# Misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
